{% extends "main.html" %}

{% block maincontent %}
<h1>This is a demo</h1>
<p>Skeleton implementation for user account management with webapp2.</p>

<p>You will have to take care of the following items:</p>
<ol>
<li><del>Implement user registration, login, email verification, password recovery</del></li>
<li>Send email verification and password recovery messages via email</li>
<li><a href="https://developers.google.com/appengine/docs/python/config/appconfig#Secure_URLs">Configure</a> login and password reset urls to use https (you will have to deploy your app to test this)</li>
</ol>

<p>Try it out by registering <a href="/signup">here</a>.</p>
<p><b>Find more information in the tutorial <a href="http://blog.abahgat.com/2013/01/07/user-authentication-with-webapp2-on-google-app-engine">here</a>.</b></p>

{% endblock %}