{% extends "main.html" %}

{% block title %}Register a new user{% endblock %}

{% block maincontent %}

<h1>Register a new user</h1>
<form action="/signup" method="POST">
<label for="username">Username</label>
<input type="text" name="username" />
<label for="email">Email address</label>
<input type="text" name="email" />
<label for="password">Password</label>
<input type="password" name="password" />
<label for="name">Name</label>
<input type="text" name="name" />
<label for="lastname">Last Name</label>
<input type="text" name="lastname" />
<input type="submit" value="Create user" />
</form>

{% endblock %}